/* HTML Elements */
:root {
    --accent: 0, 0, 0;
    /* --accent-light: 224, 204, 250; */
    --accent-light: 0, 0, 0;
    --accent-dark: 0, 0, 0;
    --accent-gradient: linear-gradient(
        45deg,
        rgb(var(--accent)),
        rgb(var(--accent-light)) 30%,
        white 60%
    );
}
/* Color Variables */
:root {
    --color-background: #262643;
    --color-background-secondary: #1e1e2e;
    --color-background-gradient: linear-gradient(var(--color-background), var(--color-background-secondary));
    --color-primary: white;
    --color-secondary: grey;
    --color-text: #ffffff;
}
:root.dark {
    /* --color-primary:  */
}

html {
    font-family: system-ui, sans-serif;
    background: linear-gradient(#13151a 10%, #2b2e46);
    background: var(--color-background-gradient);
    min-height: 100vh;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 110%;
    scroll-behavior: smooth;
}
main {
    flex-grow: 2;
    height: 100%;
    line-height: 1.6;
}

/* Some buffer for the header */
body:has(header + main) {
    --heading-size: 5em;
    padding-top: var(--heading-size);
    min-height: calc(100vh - var(--heading-size));
}
a {
    color:#739fe6;
}
a:visited {
    color: #af74e3;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey; */
    background-color: rgb(86, 86, 86);
    /* border-radius: 10px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888888;
    border-radius: 10px;
}

/* Custom classes */

/* Limits the width for easier reading */
.container {
    max-width: 40em;
    width: fit-content;

    margin-left: auto;
    margin-right: auto;

    padding: 1em;
    padding-top: 0;
}
