:root {
    --accent: 0, 0, 0;
    /* --accent-light: 224, 204, 250; */
    --accent-light: 0, 0, 0;
    --accent-dark: 0, 0, 0;
    --accent-gradient: linear-gradient(
        45deg,
        rgb(var(--accent)),
        rgb(var(--accent-light)) 30%,
        white 60%
    );
}
html {
    font-family: system-ui, sans-serif;
    background: #13151a;
    background: linear-gradient(#13151a 10%, #2b2e46);
}
body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
}
main {
    height: 100%;
    color: white;
    font-size: 20px;
    line-height: 1.6;
}

a {
    color:#739fe6;
}
a:visited {
    color: #af74e3;
}