/* HTML Elements */
:root {
    --accent: 0, 0, 0;
    /* --accent-light: 224, 204, 250; */
    --accent-light: 0, 0, 0;
    --accent-dark: 0, 0, 0;
    --accent-gradient: linear-gradient(
        45deg,
        rgb(var(--accent)),
        rgb(var(--accent-light)) 30%,
        white 60%
    );
}
html {
    font-family: system-ui, sans-serif;
    background: linear-gradient(#13151a 10%, #2b2e46);
}
body, html {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    color: white;
    font-size: 20px;
    scroll-behavior: smooth;
}
main {
    height: 100%;
    line-height: 1.6;
}

/* Some buffer for the header */
header + main {
    --header-buffer-size: 6em;
    margin-top: var(--header-buffer-size);
}
body:has(header + main) {
    min-height: calc(var(--header-buffer-size) - 6em);
}
a {
    color:#739fe6;
}
a:visited {
    color: #af74e3;
}

/* Custom classes */

/* Limits the width for easier reading */
.content-container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

/* Social icons */
.mini-social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: calc(1.5rem + 20px);
}

.mini-social-icons a {
    height: 100%;
}

.mini-social-icons img {
    height: calc(100% - 20px);
    width: auto;
    padding: 10px;
    
    /* Takes slighly longer to fall down */
    transition: transform 0.5s;
}

.mini-social-icons img:hover {
    /* Rises up quickly */
    transform: translateY(-5px);
    transition: transform 0.25s;
}

.mini-social-icons a:has(img.email) {
    transform: scale(1.35);
}

.mini-social-icons img.linked-in {
    filter: brightness(0) invert(1);
}
