---
import Socials from "../components/Socials.astro";
import LocationIcon from "../images/icons/general/LocationIcon.astro";
import ResumeIcon from "../images/icons/general/ResumeIcon.astro";
import SingaporeFlag from "../images/icons/logos/SingaporeFlag.astro";

// ===== Skil Icons =====
// Web
import AstroIcon from "../images/icons/skill-icons/AstroIcon.astro";
import Angular from "../images/icons/skill-icons/Angular.astro";
import PostgreSQL from "../images/icons/skill-icons/PostgreSQL.astro";
import Svelte from "../images/icons/skill-icons/Svelte.astro";
// Languages 
import HtmlIcon from "../images/icons/skill-icons/HtmlIcon.astro";
import CSS from "../images/icons/skill-icons/CSS.astro";


import Cpp from "../images/icons/skill-icons/Cpp.astro";
import CSharp from "../images/icons/skill-icons/CSharp.astro";
import Unity from "../images/icons/skill-icons/Unity.astro";
import Obsidian from "../images/icons/skill-icons/Obsidian.astro";
import GitHub from "../images/icons/skill-icons/GitHub.astro";

// Components
import Layout from "../layouts/Layout.astro";
import TypeScriptIcon from "../images/icons/skill-icons/TypeScriptIcon.astro";
import Sqlite from "../images/icons/skill-icons/Sqlite.astro";
---

<Layout title="About Me" description="Description about me">
    <div class="container">
        <h1>About Me</h1>
        <h2>Ethan Ong</h2>
        <p><span class="subtitle">Game & Web Developer  • <LocationIcon title="Location: Singapore"/>Singapore </span><SingaporeFlag class:list="flag" alt="Singapore Flag"/></p>
        <p class="job-status">Currently looking for jobs, open to freelance</p>

        <div class="link-container">
            <a href="/Resume.pdf" target="_blank" class="resume float-on-hover"><ResumeIcon /> Resume</a>
            <Socials showExtraSocials={true}/>
        </div>

        <h2>Quick facts about me</h2>
        <ul>
            <li>Graduated with <a href="https://www.nyp.edu.sg/schools/sdm/full-time-courses/game-development-and-technology.html">Diploma in Game Development and Technology</a> from <abbr title="Nanyang Polytechnic">NYP</abbr>. <br>(The syllabus has changed since I enrolled. Contact me for my transcript to see what modules I took)</li>
            <li>Self studying Web Development in my free time</li>
            <li>Interested to learn new technologies and implement them in products used by others</li>
            <li>Fun fact: My username, <strong>GnoxNahte</strong>, is my name <strong>Ethan Ong</strong> reversed, with 'x' instead of ' '(space)</li>
            <!-- <br>The main reason was having a unique and identifiable username that can be traced back to me, despite my common name</li> -->
        </ul>

        <h2>Skills</h2>
        <p>For <strong>Game Development</strong>, I specialise in <em>Unity</em>. Check out some of my <a href="/projects/?include=Unity">projects using Unity</a></p>
        <p>
            For <strong>Web Development</strong>, I focus on frontend work with <em>Astro</em>, though I also have experience in <em>Svelte</em> and <em>Angular</em>.<br>
            For backend, I'm currently learning <em>SQLite</em><br>
            Take a look at <a href="/projects/?include=Astro">some websites</a> I've made. I've also <a href="/projects/?include=Obsidian">developed plugins for <em>Obsidian</em></a> built using <em>TypeScript</em> 
        </p>

        <h3>Web</h3>
        <div class="skill-icons">
            <a href="https://astro.build/" target="_blank"><AstroIcon /></a>
            <a href="https://angular.dev/" target="_blank"><Angular /></a>
            <a href="https://svelte.dev/" target="_blank"><Svelte /></a>
            <a href="https://www.sqlite.org/" target="_blank"><Sqlite /></a>
            <!-- <a href="https://www.postgresql.org/" target="_blank"><PostgreSQL /></a> -->
        </div>
        
        <h3>Languages</h3>
        <div class="skill-icons">
            <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank"><HtmlIcon /></a>
            <a href="https://developer.mozilla.org/en-US/docs/Web/CSS" target="_blank"><CSS /></a>
            <a href="https://www.typescriptlang.org/" target="_blank"><TypeScriptIcon /></a>
            <a href="https://cplusplus.com/info/description/" target="_blank"><Cpp /></a>
            <a href="https://learn.microsoft.com/en-us/dotnet/csharp/" target="_blank"><CSharp /></a>
        </div>
        
        <h3>Others</h3>
        <div class="skill-icons">
            <a href="https://unity.com/" target="_blank" title="Unity"><Unity /></a>
            <a href="https://obsidian.md/" target="_blank" title="Obsidian"><Obsidian /></a>
            <a href="https://github.com/" target="_blank" title="GitHub"><GitHub /></a>
        </div>

        <h2>Awards & Certificates</h2>
        
        <ul>
            <li>Director's List* - Academic Year 2019/20 Semester 1</li>
            <li>Director's List* - Academic Year 2021/22 Semester 2</li>
            <li><a href="https://unity.com/products/unity-certifications/associate-programmer" target="_blank">UCAP-720: Unity Certified Associate: Programmer</a></li>
        </ul>
        <p>* <a href="https://www.nyp.edu.sg/current-students/academic-matters/nyp-assessment-regulations.html" target="_blank" data-astro-prefetch>Director's List</a> - Top 15% in my cohort for the semester</p>

        <!-- modify this form HTML and place wherever you want your form -->
        <div class="contact-form">
            <h2>Send a Message</h2>
            <p class="subtitle">Got an idea, project, or opportunity you'd like to discuss?<br />Send a message and I'll get back to you as soon as possible!</p>
            <form action="https://formspree.io/f/mjkvygqz" method="POST">
                <label for="contact-name"> What's your name?</label>
                <input type="text" name="name" id="contact-name" autocomplete="name" spellcheck="false" placeholder="Name">
                <label for="contact-email"> What's your email?</label>
                <input type="email" name="email" id="contact-email" autocomplete="email" placeholder="Email">
                <label for="contact-message">What would you like to talk about?</label>
                <textarea name="message" id="contact-message" placeholder="Message" required></textarea>
                <button type="submit">Send</button>
            </form>
        </div>
</Layout>

<style>
    h1 {
        text-align: center;
    }
    ul {
        margin-top: 5px;
    }
    h2 {
        margin-bottom: 0;
    }

    .job-status {
        margin: 0.2em 0;
    }

    .link-container {
        display: flex;
        align-items: center;
    }
    
    a.resume {
        display: inline-block;
        padding: 0.2em 0.4em;
        border: 2px solid var(--color-text);
        border-radius: 5px;
        color: var(--color-text);
        margin-right: 0.5em;
        text-decoration: none;

        &:visited {
            color: var(--color-text);
        }
        /* background-color: red;; */
    }
    
    .container {
        padding: 25px;
        padding-top: 0;
        margin: auto;
        width: fit-content;
    }

    p:has(.subtitle) {
        margin: 0;
    }
    
    .flag {
        height: 1em;
        width: 2em;
        transform: translateY(0.2em);
    }

    .skill-icons svg {
        width: 3em;
        height: 3em;
        padding: 0 0.2em;
        transition: transform 0.5s;
        
        &:hover {
            transform: translateY(-10%);
            transition: transform 0.25s;
        }
    }

    .contact-form {
        padding: 2em;
        border-radius: 1.5em;
        background-color: var(--color-background);
        max-width: 30em;
        margin: 3em auto;
        h2 {
            margin: 0;
        }

        h2, p {
            text-align: center;
        }

        label {
            transition: font-weight 0.5s, font-size 0.75s;
        }

        label:has(+ input:focus),
        label:has(+ textarea:focus) {
            font-weight: 600;
            font-size: 1.07em;
        }

        input, textarea {
            margin-bottom: 1em;
        }

        form {
            display: flex;
            flex-direction: column;
            margin-top: 1em;
        }

        button {
            margin-top: 0.5em;
            padding: 0.8em;
        }
    }
</style>