---
import Layout from "../layouts/Layout.astro";

---

<Layout title="About Me" description="Description about me">
    <div class="container">
        <h1>About Me</h1>
        <h2>Quick facts about me:</h2>
        <ul>
            <li>I'm from Singapore! <img src="https://flagsapi.com/SG/flat/64.png" class="flag" alt="SG Flag"></li>
            <li>Graduated with <a href="https://www.nyp.edu.sg/schools/sdm/full-time-courses/game-development-and-technology.html">Diploma in Game Development and Technology</a> from <abbr title="Nanyang Polytechnic">NYP</abbr>. <br>(The syllabus has changed since I enrolled. Contact me for my transcript to see what modules I took)</li>
            <li>Self studying Web Development in my free time</li>
            <li>Interested to learn new technologies and implement them in products used by others</li>
            <li>My username, <strong>GnoxNahte</strong>, is my name <strong>Ethan Ong</strong> reversed, with 'x' instead of ' '(space).</li>
            <!-- <br>The main reason was having a unique and identifiable username that can be traced back to me, despite my common name</li> -->
        </ul>
        <a href="/Resume.pdf" target="_blank">Click here for my resume</a>
        <details>
            <summary>Certificates</summary>
            <ul>
                <li>Director's List* - Academic Year 2019/20 Semester 1</li>
                <li>Director's List* - Academic Year 2021/22 Semester 2</li>
                <li><a href="https://unity.com/products/unity-certifications/associate-programmer" target="_blank">UCAP-720: Unity Certified Associate: Programmer</a></li>
            </ul>
            * <a href="https://www.nyp.edu.sg/current-students/academic-matters/nyp-assessment-regulations.html" target="_blank">Director's List</a> - Top 15% in my cohort for the semester
        </details>
</Layout>

<style>
    h1 {
        text-align: center;
    }
    ul {
        margin-top: 5px;
    }
    h2 {
        margin-bottom: 0;
    }
    details {
        margin-left: 2em;
        /* border: 2px solid white; */
    }

    summary {
        margin-left: -2em;
    }

    .container {
        padding: 25px;
        padding-top: 0;
        margin: auto;
        width: fit-content;
    }

    .flag {
        height: 1.5em;
        display: inline; 
        transform: translateY(0.3em);
    }
    
    .home-img {
        filter: brightness(0) invert(0.95);
        transform: translateY(0.5em);
    }
</style>