---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Credits" description="Credits for the assets I've used">
    <div class="container">
        <h1>Credits</h1>
        <p class="subtitle">These are the websites where I got the assets from.</p>
        <h2>Icons</h2>
        <ul>
            <li>
                About Page
                <ul>
                    <li>Skills/Tools: <a href="https://icon-sets.iconify.design/skill-icons/" target="_blank">iconify.design (Skill Icons pack)</a></li>
                    <li>Location: <a href="https://icon-sets.iconify.design/mdi/location/" target="_blank">iconify.design (Material Design Icons pack) (ID: mdi:location)</a></li>
                    <li>Singapore Flag: <a href="https://commons.wikimedia.org/wiki/File:Flag_of_Singapore.svg" target="_blank">Wikimedia Commons</a></li>
                </ul>
            </li>
            <li>
                Projects
                <ul>
                    <li>Ascending & Descending: <a href="https://icon-sets.iconify.design/tabler/" target="_blank">iconify.design (Tabler pack)</a></li>
                </ul>
            </li>
            <li>
                Social
                <ul>
                    <li>Mail: <a href="https://fonts.google.com/icons?selected=Material+Symbols+Outlined:mail:FILL@0;wght@400;GRAD@0;opsz@24&icon.query=mail&icon.size=24&icon.color=%23e8eaed" target="_blank">Google Fonts (Icons)</a></li>
                    <li>GitHub: <a href="https://github.com/logos" target="_blank">GitHub Website</a></li>
                    <li>Twitter/X: <a href="https://about.x.com/en/who-we-are/brand-toolkit" target="_blank">X Website</a></li>
                    <li>LinkedIn: <a href="https://icon-sets.iconify.design/cib/linkedin/" target="_blank">iconify.design (CoreUI Brands pack)</a></li>
                </ul>
            </li>
        </ul>
        <p>While not all assets need to be attributed, I've just linked them here, for anyone who wants it and as a future reference for me too.</p>
</Layout>