---
import { getCollection } from "astro:content";
import ProjectCard from "../components/ProjectCard.astro";
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import SearchIcon from "../images/common/SearchIcon.svg";

const projects = await getCollection("projects", ({data}) => {
    return !data.isUnlisted;
});

// Sort by rank, lower rank first
projects.sort((a, b) => {
    if (a.data.rank < b.data.rank)
        return -1;
    else if (a.data.rank == b.data.rank)
        return 0;
    else
        return 1;
})
---
<Layout title="Projects" description="A list of all the projects I've worked.">
    <h1>Projects</h1>
    <div class="container">
        <div class="filter-panel">
            <div class="search-bar">
                <Image src={SearchIcon} alt="Search Icon" class:list="search-icon"/>
                <input type="search" placeholder="Search By Title"/>
                <button>Filter</button>
            </div>
        </div>
        <div class="project-container">
        {
            projects.map((project) => <ProjectCard project={project}/>)
        }
        <aside>Note: Actual time spent on each project may vary as most projects are done during my free time.</aside>
        </div>
    </div>
</Layout>

<style>
    /* :global(html) {
        background: none;
        background-color: var(--color-background);
    } */

    h1 {
        text-align: center;
    }

    .container {
        max-width: fit-content;
        display: flex;
        gap: 1em;
        margin-bottom: 5em;
    }
    
    .filter-panel {
        background-color: var(--color-secondary);
        padding: 1em;
        border-radius: 0.75em;

        hr {
            border-color: grey;
        }
    }
    .search-bar {
        display: flex;
        position: relative;
        /* Minus padding */
        width: calc(100% - 2em);

        /* TODO: Shift this to input[type="search"]::after */
        .search-icon {
            display: block;
            position: absolute;
            height: 1em;
            top: 0.6em;
            left: 0.6em;
            /* transform: translateY(25%); */
        }

        label {
            align-self: center;
            margin-right: 0.5rem;
        }

        button {
            margin-left: 0.5rem;
        }
    }

    .project-container {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
</style>