---
import { getCollection } from "astro:content";
import ProjectCard from "../components/ProjectCard.astro";
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import SearchIcon from "../images/common/SearchIcon.svg";

const projects = await getCollection("projects", ({data}) => {
    return !data.isUnlisted;
});

// Sort by rank, lower rank first
projects.sort((a, b) => {
    if (a.data.rank < b.data.rank)
        return -1;
    else if (a.data.rank == b.data.rank)
        return 0;
    else
        return 1;
})
---
<Layout title="Projects" description="A list of all the projects I've worked.">
    <div class="container">
        <div class="filter-panel">
            <div class="search-bar">
                <Image src={SearchIcon} alt="Search Icon" class:list="search-icon"/>
                <input type="search" placeholder="Search By Title"/>
                <button>Filter</button>
            </div>
        </div>
        <div class="project-container">
        {
            projects.map((project) => <ProjectCard project={project}/>)
        }
        </div>
    </div>
</Layout>

<style>
    .search-bar {
        display: flex;
        position: relative;
        /* Minus padding */
        width: calc(100% - 2em);

        /* TODO: Shift this to input[type="search"]::after */
        .search-icon {
            display: block;
            position: absolute;
            height: 1em;
            top: 0.6em;
            left: 0.6em;
            /* transform: translateY(25%); */
        }

        label {
            align-self: center;
            margin-right: 0.5rem;
        }

        button {
            margin-left: 0.5rem;
        }
    }
</style>