---
import { getCollection } from "astro:content";
import ProjectCard from "../components/ProjectCard.astro";
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import SearchIcon from "../images/common/SearchIcon.svg";

const projects = await getCollection("projects", ({data}) => {
    return !data.isUnlisted;
});

// Sort by rank, lower rank first
projects.sort((a, b) => {
    if (a.data.rank < b.data.rank)
        return -1;
    else if (a.data.rank == b.data.rank)
        return 0;
    else
        return 1;
})
---
<Layout title="Projects" description="A list of all the projects I've worked.">
    <div class="container">
        <h1>Projects</h1>
        <div class="search-bar">
            <label>Search:</label>
            <input type="search"/>
            <button>Filter</button>
        </div>
        <div class="project-container">
        {
            projects.map((project) => <ProjectCard project={project}/>)
        }
        </div>
    </div>
</Layout>

<style>
    .search-bar {
        display: flex;
        width: 100%;

        label {
            align-self: center;
            margin-right: 0.5rem;
        }

        input {
            flex-grow: 1;
        }

        button {
            margin-left: 0.5rem;
        }
    }
</style>