---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Test page" description="Page for testing all html elements">
    <div class="container">
        <h1>Test Page</h1>
        <ul>
            <li><a href="/tests/test-heading/">Headings</a></li>
            <li><a href="/tests/test-code/">Code</a></li>
        </ul>
    </div>
</Layout>