---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Test code" description="Test code">
    <div class="container">
        <h1>Test Code (Inline)</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum volutpat tincidunt est at maximus. Donec accumsan, neque eget laoreet luctus, dui massa feugiat libero, vel fringilla arcu metus id arcu. Maecenas eros mi, tempor eget dui in, efficitur viverra quam. Sed congue magna a turpis fringilla vestibulum. Cras tempus sollicitudin sodales. Suspendisse sed nisl odio. Duis purus dolor, commodo a nunc quis, malesuada placerat nunc. Nullam euismod massa eget ipsum ullamcorper congue. Proin ligula enim, porttitor porta sodales sit amet, accumsan eu felis.</p>
        <h1>Test Code (Block)</h1>
        <code>Test code</code>
    </div>
</Layout>