---
import { Image } from "astro:assets";

import GitHubIcon from "../images/icons/social/github-mark-white.svg";
import EmailIcon from "../images/icons/social/google-icon-email.svg";
import TwitterIcon from "../images/icons/social/x-twitter-icon.svg";
import LinkedInIcon from "../images/icons/social/LinkedInIcon.png";
---

<footer>
    <hr>
    <!-- 
        NOTE: Don't update the year as it's supposed to be the year the content is published. 
        Source:
        - https://stackoverflow.com/questions/2390230/do-copyright-dates-need-to-be-updated
        - https://www.reddit.com/r/web_design/comments/11yly24/do_you_need_a_copyright_with_the_year_in_the/
    -->
    <small>© 2024 GnoxNahte | All rights reserved</small>
    <span class="mini-social-icons">
        <a href="mailto:gnoxnahte.dev@gmail.com" target="_blank"><Image src={EmailIcon} alt="Email: gnoxnahte.dev@gmail.com" title="Email" class="email"></a>
        <a href="https://github.com/GnoxNahte" target="_blank"><Image src={GitHubIcon} alt="GitHub: GnoxNahte" title="GitHub"></a>
        <a href="https://twitter.com/GnoxNahteDev" target="_blank"><Image src={TwitterIcon} alt="Twitter: GnoxNahteDev" title="X/Twitter"></a>
        <a href="https://www.linkedin.com/in/ethanongsg/" target="_blank"><Image src={LinkedInIcon} alt="LinkedIn: ethanongsg" title="LinkedIn" class="linked-in"></a>
    </span>
</footer>

<style>
    footer {
        position: relative;
        margin-top: auto;
        display: flex;
        justify-content: space-between;
        padding: 1.25rem 1.5rem;
    }
    
    hr {
        border-color: var(--color-border);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0;
    }

    small {
        align-self: center;
    }

    /* Social icons */
    .mini-social-icons {
        --social-icons-padding: 0.7rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        height: calc(1.5rem + var(--social-icons-padding) * 2);
    }

    .mini-social-icons a {
        height: 100%;
    }

    .mini-social-icons img {
        height: calc(100% - var(--social-icons-padding) * 2);
        width: auto;
        padding: var(--social-icons-padding);
        
        /* Takes slighly longer to fall down */
        transition: transform 0.5s;
    }

    .mini-social-icons img{
        filter: brightness(0);
    }


    .mini-social-icons img:hover {
        /* Rises up quickly */
        transform: translateY(-10%);
        transition: transform 0.25s;
    }

    .mini-social-icons a:has(img.email) {
        transform: scale(1.35);
    }

    .dark .mini-social-icons img.linked-in {
        filter: brightness(0) invert(1);
    }

    @media (max-width: 33rem) {
        footer {
            flex-direction: column-reverse;
            gap: 0.5rem;
        }
    }
</style>

<!-- Since styles are scoped, need to do this for it to interact with .dark -->
<style is:global>
    .dark .mini-social-icons img {
        filter: unset !important;
    }
</style>