---

---
<header id="header">
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/projects/">Projects</a></li>
            <li><a href="/about/">About</a></li>
        </ul>
    </nav>
</header>

<style>
    header {
        position: fixed;
        top: 0;
        width: 100%;

        z-index: 10;

        transition: top 0.4s ease-out;
        padding: 2em 0;
    }

    nav {
        display: flex;

        margin: 0 auto;
        padding: 0.7em;

        border: 2px solid white;
        border-radius: 5em;

        width: fit-content;
        /* TODO: Use color variables */
        background-color: #1f2233;
    }

    ul {
        display: flex;
        list-style: none;
        flex-direction: row;
        margin: 0;
        padding: 0;
    }

    li a {
        text-decoration: none;
        color: white;
        margin: 0.5em;
        font-size: large;
        font-weight: bold;
    }

    header.hide-header {
        transition: top 0.3s ease-out;
        top: -4.2em;
    }
    
    header.hide-header:hover {
        top: -2em;
    }

    li {
        /* Takes slighly longer to fall down */
        transition: transform 0.5s;
    }
    li:hover {
        /* Rises up quickly */
        transform: translateY(-3px);
        transition: transform 0.25s;
    }
</style>

<script>
    // Show the header on scroll
    let prevScrollPos = window.scrollY;
    const header = document.getElementById("header");
    function OnScroll(ev: Event) {
        if (!header) {
            console.log("Can't find header");
            return;
        }

        const currScrollPos = window.scrollY;
        // If scroll down, hide header
        // currScrollPos > 1 for mobile.
        if (prevScrollPos < currScrollPos && currScrollPos > 1) {
            header.classList.add("hide-header");
        }
        // Else, show header
        else {
            header.classList.remove("hide-header");
        }

        prevScrollPos = currScrollPos;
    }

    window.addEventListener("scroll", OnScroll);

    
</script>