---

---
<header id="header">
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/projects/">Projects</a></li>
            <li><a href="/about/">About</a></li>
        </ul>
    </nav>
</header>

<style>
    header {
        position: fixed;
        top: calc(2em - 30px);
        width: 100%;

        z-index: 10;

        transition: top 0.4s ease-out;
        padding: 30px 0;
    }

    nav {
        display: flex;

        margin: 0 auto;
        padding: 0.8em;

        border: 2px solid white;
        border-radius: 5em;

        width: fit-content;
        /* TODO: Use color variables */
        background-color: #1f2233;
    }

    ul {
        display: flex;
        list-style: none;
        flex-direction: row;
        margin: 0;
        padding: 0;
    }

    li a {
        text-decoration: none;
        color: white;
        margin: 0.5em;
        font-size: large;
        font-weight: bold;
    }

    header.hide-header {
        transition: top 0.3s ease-out;
        top: calc(-2.35em - 30px);
    }
    
    header.hide-header:hover {
        top: -30px;
    }

    li {
        /* Takes slighly longer to fall down */
        transition: transform 0.5s;
    }
    li:hover {
        /* Rises up quickly */
        transform: translateY(-3px);
        transition: transform 0.25s;
    }
/* 
    @keyframes header-anim {
        from {
            top: 1em;
        }

        to {
            top: -3em;
        }
    }

    nav:hover, nav:focus {
        top: 0em !important;
        animation: animate-out 0.5s linear 0s forwards;
    }

    @keyframes animate-out {
        from {
            top: -2.3em;

        }

        to {
            top: 0em;
        }
    }

    nav a {
        text-decoration: none;
        color: white;
    } */
</style>

<script>
    let prevScrollPos = window.scrollY;
    const header = document.getElementById("header");
    function OnScroll(ev: Event) {
        if (!header) {
            console.log("Can't find header");
            return;
        }

        const currScrollPos = window.scrollY;
        // If scroll down, hide header
        if (prevScrollPos < currScrollPos) {
            header.classList.add("hide-header");
        }
        // Else, show header
        else {
            header.classList.remove("hide-header");
        }

        prevScrollPos = currScrollPos;
    }

    window.addEventListener("scroll", OnScroll)
</script>