---
import Footnote from "../components/Footnote.astro";
import Header from "../components/Header.astro";
import ReturnToTopArrow from "../components/ReturnToTopArrow.astro";
import "../styles/global.css";

export interface Props {
    title: string;
    description: string;
	showHeader?: boolean;
	showFooter?: boolean;
}

const { title, description, showHeader = true, showFooter = true } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<!-- For safari toolbar and address bar colors -->
		<meta name="theme-color" content="#1f2247">
		<meta name="msapplication-navbutton-color" content="#1f2247">
		<meta name="apple-mobile-web-app-capable" content="yes"/>
		<meta name="apple-mobile-web-app-status-bar-style" content="#1f2247">

		<slot name="head" />
		<!-- <ViewTransitions /> -->
		<title>{title}</title>
	</head>
	<body>
		{showHeader && <Header />}
		<main>
            <slot />
			<ReturnToTopArrow />
		</main>
		{showFooter && <Footnote />}
	</body>
</html>

<script>
	import GetUserTheme from "../scripts/utilities";

	const userTheme = GetUserTheme();
	const htmlEl = document.querySelector("html") as HTMLHtmlElement;
	htmlEl.classList.add(userTheme);
</script>