---
import Header from "../components/Header.astro";
import "../styles/global.css";

export interface Props {
    title: string;
    description: string;
    darkMode?: boolean;
	showHeader?: boolean;
	showFootnote?: boolean;
}

const { title, description, darkMode = true, showHeader = true } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		{showHeader && <Header />}
		<main>
            <slot />
		</main>
	</body>
</html>